@keyframes pisca {
  0% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 0.2;}
}

body{
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.urna{
  background-color: #dbd5c9;
  padding: 30px;
  display: flex;
}

.tela{
  width: 500px;
  height: 320px;
  background: linear-gradient(to right, #e8e8e8 , #c1c1c1);
  border: 2px solid #555;
  display: flex;
  flex-direction: column;
}

.teclado{
  background-color: #403A3A ;
  margin-left: 30px;
}

.teclado_linha{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.teclado_botao{
  width: 70px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  box-shadow: 6px, 6px , 0 , #999;
}

.botao_branco{
  background-color: #fff;
  color: #000;
  font-size: 15px;
}

.botao_corrige{
  background-color: #f09046;
  color: #000;
  font-size: 15px;
}

.botao_confirma{
  background-color: #48c079;
  color: #000;
  font-size: 15px;
  width: 90px;
  height: 50px;

}

.d1{
  flex: 1;
  display: flex;
}

.d1_left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.d1_1{
  height: 50px;
  display: flex;
  align-items: center;
}

.d1_2{
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d1_3{
  height: 50px;
}

.numero{
  display: inline-block;
  width: 30px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
}

.pisca{
  animation-name: pisca;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.d1_4{
  flex: 1;
  height: 50px;
  line-height: 30px;
}

.d1_right{
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.d1_imagem{
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.d1_imagem img{
  width: 100%;
}

.d1_imagem.small{
  width: 80%;
  font-size: 12px;
}

.d2{
  height: 50px;
  font-size: 14px;
  border-top: 2px solid black;
  padding-left: 10px;
}